{% extends 'layouts/layout.html' %}
{% load static %}

{% block body %}
<!-- Masthead-->
<header class="masthead" style="--url: url({% static 'main/img/header-bg.jpg' %})">
    <div class="container">
        <div class="masthead-subheading">Welcome To Our Platform!</div>
        <div class="masthead-heading text-uppercase">Auction platform</div>
        {% if not 'name' in request.session %}
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'Login' %}">Join straight away</a>
        {% else %}
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'Items' %}">Join straight away</a>
        {% endif %}
    </div>
</header>
{% comment %}<form id="form" class="image" enctype="multipart/form-data" method="POST" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.file }}
  <button type="submit" id="submit" class="btn btn-dark"><span>UPLOAD</span></button>
</form>{% endcomment %}
<!-- Services-->
<section class="page-section" id="AboutUs">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3 class="section-subheading text-muted">Our project serves as an auction platform all over the world
        for NFT and real-life products.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted">Create trade offers and auctions on your items, or join any auction and bet your
                bid Online.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Cross-platform</h4>
                <p class="text-muted">Access our platform and perform trades from any device and OS thanks to REST API
                    and Django Framework.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Security</h4>
                <p class="text-muted">The confidentiality of your data, as well as security of trades and bid policy
                    guarantees just and safe trading operations.</p>
            </div>
        </div>
    </div>
</section>
<!-- About-->
{% comment %}<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'main/img/about/1.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'main/img/about/2.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2011</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'main/img/about/3.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'main/img/about/4.jpg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>{% endcomment %}
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Information Technologies specialists ready to take the world on.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'main/img/team/1.png' %}" alt="..." />
                    <h4>Oleh Tymchuk</h4>
                    <p class="text-muted">Mentor/Team lead</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://t.me/ost_xxx"><i class="fab fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/oleh-tymchuk-03a27277/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'main/img/team/2.jpg' %}" alt="..." />
                    <h4>Denys Berezniuk</h4>
                    <p class="text-muted">Full-Stack Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://t.me/DenyaB"><i class="fab fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/denya.bereznyk/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/denys-berezniuk/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'main/img/team/3.jpg' %}" alt="..." />
                    <h4>Dmytro Demianyk</h4>
                    <p class="text-muted">Backend Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://t.me/r1eaktor"><i class="fab fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">These are our people.
                Team of different, proactive IT-specialists sharing one goal by contributing to this project.</p></div>
        </div>
    </div>
</section>
<!-- Clients-->
<div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-6 my-3">
                <a href="https://www.djangoproject.com/"><img class="img-fluid h-100 img-brand d-block mx-auto" src="{% static 'main/img/logos/django.png' %}" alt="..." aria-label="Django Logo" /></a>
            </div>
            <div class="col-md-4 col-sm-6 my-3">
                <a href="https://www.python.org/"><img class="img-fluid h-100 img-brand d-block mx-auto" src="{% static 'main/img/logos/python.png' %}" alt="..." aria-label="Python Logo" /></a>
            </div>
            <div class="col-md-4 col-sm-6 my-3">
                <a href="https://www.mongodb.com/"><img class="img-fluid h-100 img-brand d-block mx-auto" src="{% static 'main/img/logos/mongodb.png' %}" alt="..." aria-label="Mongo DB Logo" /></a>
            </div>
        </div>
    </div>
</div>
<!-- item Grid-->
<section class="page-section bg-light" id="item">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Auctions</h2>
            <h3 class="section-subheading text-muted">Look at our top of most popular item auctions in real-time.</h3>
        </div>
        <div class="row">
            {% for item in items %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="item-item stretch flex-column">
                    <a href="#itemModal{{ forloop.counter }}" class="item-link" data-bs-toggle="modal">
                        <div class="item-hover">
                            <div class="item-hover-content"><h4>More</h4></div>
                        </div>
                        <img class="img-fluid" src="{{ item.image }}" alt="..." />
                    </a>
                    <div class="item-caption p-3">
                        <div class="item-caption-heading">{{ item.name }}</div>
                        <div class="item-caption-subheading text-muted">{{ item.description|truncatewords:7 }}</div>
                    </div>
                </div>
              </div>
            {% endfor %}
            {% comment %}<div class="col-lg-4 col-sm-6 mb-4">
                <!-- item item 1-->
                <div class="item-item">
                    <a class="item-link" data-bs-toggle="modal" href="#itemModal1">
                        <div class="item-hover">
                            <div class="item-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'main/img/item/1.jpg' %}" alt="..." />
                    </a>
                    <div class="item-caption">
                        <div class="item-caption-heading">Threads</div>
                        <div class="item-caption-subheading text-muted">Illustration</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- item item 2-->
                <div class="item-item">
                    <a class="item-link" data-bs-toggle="modal" href="#itemModal2">
                        <div class="item-hover">
                            <div class="item-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'main/img/item/2.jpg' %}" alt="..." />
                    </a>
                    <div class="item-caption">
                        <div class="item-caption-heading">Explore</div>
                        <div class="item-caption-subheading text-muted">Graphic Design</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- item item 3-->
                <div class="item-item">
                    <a class="item-link" data-bs-toggle="modal" href="#itemModal3">
                        <div class="item-hover">
                            <div class="item-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'main/img/item/3.jpg' %}" alt="..." />
                    </a>
                    <div class="item-caption">
                        <div class="item-caption-heading">Finish</div>
                        <div class="item-caption-subheading text-muted">Identity</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- item item 4-->
                <div class="item-item">
                    <a class="item-link" data-bs-toggle="modal" href="#itemModal4">
                        <div class="item-hover">
                            <div class="item-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'main/img/item/4.jpg' %}" alt="..." />
                    </a>
                    <div class="item-caption">
                        <div class="item-caption-heading">Lines</div>
                        <div class="item-caption-subheading text-muted">Branding</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- item item 5-->
                <div class="item-item">
                    <a class="item-link" data-bs-toggle="modal" href="#itemModal5">
                        <div class="item-hover">
                            <div class="item-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'main/img/item/5.jpg' %}" alt="..." />
                    </a>
                    <div class="item-caption">
                        <div class="item-caption-heading">Southwest</div>
                        <div class="item-caption-subheading text-muted">Website Design</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- item item 6-->
                <div class="item-item">
                    <a class="item-link" data-bs-toggle="modal" href="#itemModal6">
                        <div class="item-hover">
                            <div class="item-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'main/img/item/6.jpg' %}" alt="..." />
                    </a>
                    <div class="item-caption">
                        <div class="item-caption-heading">Window</div>
                        <div class="item-caption-subheading text-muted">Photography</div>
                    </div>
                </div>
            </div>{% endcomment %}
        </div>
    </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact" style="--url: url({% static 'main/img/map-image.png' %})">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">We will keep in touch should you have any questions.<br>
                (* These fields are required.)</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Send Message</button></div>
        </form>
    </div>
</section>

<!-- item Modals-->
<!-- item item 1 modal popup-->

{% for item in items %}
<div class="item-modal modal fade" id="itemModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'main/img/close-icon.svg' %}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">{{ item.name }}</h2>
{#                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>#}
                            <img class="d-block mx-auto" src="{{ item.image }}" alt="..." />
                            <div class="fs-5 mb-5">
            {#                    <span class="text-decoration-line-through">$45.00</span>#}
            {#                    <span>$40.00</span>#}
                                 <span>Owner - <a href="{% url 'Profile' item.owner_user.name %}">{{ item.owner_user.name }}</a></span>
                            </div>
                            <p>{{ item.description|linebreaks }}</p>
{#                            <ul class="list-inline">#}
{#                                <li>#}
{#                                    <strong>Client:</strong>#}
{#                                    Threads#}
{#                                </li>#}
{#                                <li>#}
{#                                    <strong>Category:</strong>#}
{#                                    Illustration#}
{#                                </li>#}
{#                            </ul>#}
                            <a href="{% url 'Item' item.id %}" class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                View Auction
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}