{% extends 'layouts/layout.html' %}
{% load static %}

{% block body %}
<form method="post" action="{{request.path}}">
  {% csrf_token %}
  {{ Login }}
      <input type="hidden" name="back" value="{{ back }}">
  <button type="submit" name="enter">увійти</button>
</form>
<p>{{ error }}</p>
<form method="post" action="/auth/create/">
  {% csrf_token %}
      <input type="hidden" name="back" value="{{ back }}">
  <button type="submit" name="enter">створити новий акаунт</button>
</form>
{% endblock %}
