{% extends 'layouts/layout.html' %}
{% load static %}

{% block body %}
<section class="page-section bg-dark" id="item">
    <div class="container mt-5">
        <div class="text-center">
            <h2 class="section-heading text-uppercase text-white">Items</h2>
            <h3 class="section-subheading text-muted">Look at online active auctions in real time.</h3>
        </div>
        {% if 'user' in request.session %}
            <a href="{% url 'ItemCreate' %}" class="mb-5 btn btn-dark btn-outline-primary w-100">Create item</a>
        {% endif %}
{#        <a class="w-100 btn btn-success mb-5" href="#">Create New Recipe</a>#}
        <div class="row">
            {% for item in items %}
            <div class="col-lg-4 col-sm-6 mb-4 ">
                <div class="item-item stretch flex-column">
                    <a href="{% url 'Item' item.id %}" class="item-link" {% comment %}href="#recipeModal{{ forloop.counter }}"{% endcomment %}>
                        <div class="item-hover">
                            <div class="item-hover-content"><h4>More</h4></div>
                        </div>
                        <img class="img-fluid" src="{{ item.image }}" alt="..." />
                   </a>
                    <div class="item-caption p-3">
                        <div class="item-caption-heading">{{ item.name }}</div>
                        <div class="item-caption-subheading text-muted">{{ item.description|truncatewords:7 }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}