{% extends 'layouts/layout.html' %}
{% load static %}

{% block body %}
    <section class="h-100 bg-dark bg-gradient">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <form class="card" enctype="multipart/form-data" method="POST" action="{{request.path}}">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img id="image" src="{{ user.image }}"
                                     alt="..." class="bg-warning border-warning img-fluid img-thumbnail mt-4"
                                     style="width: 150px; z-index: 1">

                            </div>
                            <div class="ms-3 w-50" style="margin-top: 100px;">
                                <h5>{{ user.name }}</h5>
                                <div class="form-floating bg-transparent mb-2 text-white">
                                    {% csrf_token %}
                                    {{ email_form.email }}
                                    <label for="{{ email_form.email.auto_id }}" style="display: none" class="form-label text-warning bg-transparent">{{ email_form.email.label }}</label>
                                    <p class="field">{{ user.email }}</p>
                                </div>
                                {% comment %}{% csrf_token %}
                                {{ password_form.password }}{% endcomment %}
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        {% csrf_token %}
                        {{ image_form.image }}

                        <button type="submit" class="btn btn-warning" data-mdb-ripple-color="dark"
                                style="z-index: 1;">Save</button>
                            {% comment %}<div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>{% endcomment %}
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p class="font-italic mb-1 text">Balance: <span
                                            class="fw-bold text-success">{{ user.balance }}$</span></p>
                                    {#                <p class="font-italic mb-1">Lives in New York</p>#}
                                    {#                <p class="font-italic mb-0">Photographer</p>#}
                                </div>
                            </div>
                            {% comment %}<div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>{% endcomment %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
<script src="{% static '/main/js/imaging.js' %}">
</script>
<script>
let image = document.querySelector('#image').src;
loadURLToInputFiled(image, image.replace(/^.*[\\\/]/, ''))
let fields = document.querySelectorAll('.field');
console.log(fields)
for (let i = 0; i < fields.length; i++){
    fields[i].ondblclick = function (){
        console.log(this)
        let input = this.parentNode.querySelector('input:not([type="hidden"])');
        console.log(input)
        input.removeAttribute('style');
        this.setAttribute('style', 'display:none')
        input.parentNode.querySelector(`label[for="${input.id}"]`).removeAttribute('style')
    };
}
</script>
{% comment %}<img src='{{ user.image }}' width='400' ></img>
<form enctype="multipart/form-data" method="post" action="{{request.path}}">
  <button type="submit" name="change_image">змінити зображення</button>
</form>
<div>
  <h>Користувач {{ user.name }}</h>
</div>
<form method="post" action="{{request.path}}">
  {% csrf_token %}
  {{ email_form }}
  <button type="submit" name="change_email">змінити</button>
</form>
<form method="post" action="{{request.path}}">
  {% csrf_token %}
  {{ password_form }}
  <button type="submit" name="change_password">створити новий пароль</button>
</form>
<form method="post" action="/auth/logout/" style=" display: inline-block">
    {% csrf_token %}
  <button type="submit" name="exit">вийти</button>
</form>{% endcomment %}
{% endblock %}
